/*#region --------------------------------------------Global*/

//--title-color: #292E3D;
//--bg-color: #2947A9;
//--card-subtitle: #fff;
//--orange-color: #F9995D;
//--secondary-bg: #F6F8F7;

$title-color: #292E3D;
$text-color: #78847D;
$link-color: #14171F;
$border-color: #E0E3EB;
$input-color: #A3AAC2;
$primary-color: #2947A9;
$white: #fff;
$orange: #F9995D;
$secondary-color: #F6F8F7;


body {
  font-family: 'Work Sans', sans-serif;
}

.main-wrapper {
  min-height: 100vh;

  a {
    text-decoration: none;
  }

  p {
    color: $text-color;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $title-color;
  }

  .button {
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    background: $primary-color;
  }

  .cell-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/*#endregion*/

/*#region__________________________________________Hero*/
.main-wrapper {
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 16px auto;

    &-items {
      display: flex;
      list-style: none;
      gap: 50px;

      li {
        display: flex;
        justify-content: center;
        min-width: 75px;
        box-sizing: border-box;

        &:nth-child(1) {
          justify-content: flex-end;
        }

        a {
          max-width: 100px;
          color: $link-color;
          font-weight: 400;
          font-size: 18px;
        }
      }
    }

    li:hover {
      a {
        font-weight: 600;
        color: $orange;
      }
    }
  }

  .hero-container {
    margin-bottom: 18px;

    .cell-container {
      max-width: none;

      .slider {
        width: 100%;
        position: relative;
        margin: auto;
        height: 650px;

        h1 {
          position: absolute;
          top: 25%;
          left: 13%;
          z-index: 1;
          font-weight: 600;
          font-size: 72px;
          line-height: 84px;
          color: $title-color;
        }

        .item {

          img {
            object-fit: cover;
            width: 100%;
            height: 650px;
          }

          .item-title {
            position: absolute;
            width: 401px;
            height: 150px;
            bottom: 6%;
            right: 13%;
            background: $primary-color;
            text-align: center;

            h4 {
              font-weight: 700;
              font-size: 20px;
              color: $title-color;
              margin: 20px 0;
            }

            p {
              font-size: 24px;
              line-height: 28px;
              color: $white;
              margin: 0 0 26px;
            }
          }
        }

        .slider-buttons {
          position: absolute;
          bottom: 0;
          right: 13%;

          .previous,
          .next {
            position: absolute;
            display: block;
            width: 200px;
            background: $title-color;
            cursor: pointer;
            bottom: 0;
            color: $white;
            font-size: 18px;
            text-align: center;
            padding: 9px 0;

            &:hover {
              background-color: rgba(0, 0, 0, 0.8);
            }
          }

          .previous {
            right: 201px;
          }

          .next {
            right: 0;
          }
        }

      }
    }
  }
}

/*#endregion*/

/*#region --------------------------------------------Reputation*/
.main-wrapper {
  .reputation {
    h2 {
      text-align: center;
      margin-top: 60px;
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      margin-bottom: 100px;

      .card {
        width: 33%;
        border: 1.4px solid $border-color;
        border-radius: 4px;
        padding: 20px 20px 40px;

        h4 {
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          color: #3D445C;
          margin: 18px 0;
        }

        p {
          color: #858EAD;
          margin: 0;
        }
      }
    }

    .about-us {
      position: relative;
      margin-bottom: 200px;

      img {
        width: 902px;
        height: 669px;
        box-shadow: 0 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
        border-radius: 2px;
      }

      .desc-card {
        position: absolute;
        right: 0;
        bottom: 11%;
        width: 385px;
        height: 420px;
        padding: 50px 60px 60px 40px;
        background: $primary-color;
        z-index: 1;

        h3 {
          font-weight: 700;
          font-size: 36px;
          color: $white;
          margin: 0 0 37px;
        }

        p {
          font-size: 20px;
          color: $white;
          margin: 0 0 73px;
        }

        a {
          width: 220px;
          font-weight: 600;
          font-size: 18px;
          background: $white;
          color: $primary-color;
          padding: 16px 20px;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Service*/
.main-wrapper {
  .services {
    background: $secondary-color;
    max-width: none;
    padding-bottom: 76px;

    h2 {
      margin-bottom: 36px;
      padding-top: 76px;
      text-align: center;
    }

    .services-cards {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .services-card {
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 38px 0;
        margin-right: 100px;
        margin-bottom: 48px;
        box-shadow: 0 0 37px -2px rgba(17, 24, 39, 0.05);
        border-radius: 4px;

        &:nth-child(3),
        &:nth-child(6) {
          margin-right: 0;
        }

        .line {
          height: 2px;
          width: 60px;
          background: $border-color;
          margin: 20px 0;
        }

        h4 {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
        }
      }

      .white-bg {
        background: $white;
        color: $primary-color;
      }

      .blue-bg {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Experience*/
.main-wrapper {
  .experience {
    display: flex;
    margin-top: 170px;
    margin-bottom: 260px;

    &-cards {
      display: flex;
      flex-wrap: wrap;

      .experience-card {
        position: relative;
        padding: 30px;
        box-shadow: 0 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
        border-radius: 4px;
        background: $white;

        img {
          position: absolute;
        }

        span {
          font-weight: 600;
          font-size: 72px;
          line-height: 84px;
          color: $border-color;
        }

        p {
          display: flex;
          font-size: 24px;
          color: #667299;
          margin: 0;
          width: 273px;

          &:before {
            content: "";
            width: 7px;
            height: 28px;
            background: $orange;
            margin-right: 12px;
            margin-left: 16px;
          }
        }
      }

      .card-1 {
        top: 10%;

        img {
          top: -15%;
          left: -10%;
        }
      }

      .card-2 {
        left: -5%;
        top: -14%;
        z-index: 1;
        padding-right: 0;

        img {
          top: 0;
          left: 76%;
        }
      }

      .card-3 {
        left: 6%;
        top: 25%;

        img {
          top: 74%;
          left: 85%;
        }
      }

      .card-4 {
        left: -11%;
        z-index: 1;
        padding-right: 0;

        img {
          top: 5%;
          left: 77%;
        }
      }
    }

    .experience-desc {
      margin-right: 70px;
      max-width: 330px;

      h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        text-align: start;
        color: $primary-color;
        margin: 0;
      }

      p {
        font-size: 20px;
        line-height: 23px;
        color: #525B7A;
        margin: 40px 0 67px;
      }

      a {
        background: var(--bg-color);
        padding: 16px 40px;
        font-weight: 600;
        font-size: 18px;
        color: $white;
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Consultation*/
.main-wrapper {
  .consultation {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: $white;
      margin: 0 0 30px;
    }

    p {
      font-size: 24px;
      color: $white;
      margin: 0;
    }

    a {
      color: $white;
      font-weight: 600;
      font-size: 18px;
      padding: 16px 20px;
      border: 2px solid $white;
      border-radius: 2px;
      margin-right: 25px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Projects*/
.main-wrapper {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;

    h2 {
      display: block;
      width: 100%;
      text-align: start;
      margin-top: 100px;
    }

    .projects-body {
      display: flex;
      justify-content: space-between;
      gap: 210px;

      .links {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          position: relative;
          font-weight: 500;
          font-size: 24px;
          color: #C2C7D6;
          width: 165px;
          height: 30px;
          margin-left: 20px;

          &:before {
            content: "";
            position: absolute;
            top: -5px;
            left: -16px;
            width: 4px;
            height: 28px;
            background: $primary-color;
            display: none;
          }

          &:hover,
          &.active {
            font-weight: 700;
            color: $primary-color;

            &:before {
              display: inline-block;
            }
          }
        }
      }

      .projects-slider {
        .projects-item {
          display: flex;
          flex-wrap: wrap;
          gap: 32px;
          margin-right: -50px;
          cursor: pointer;

          .slide-item {
            border-radius: 2px;
            width: 45%;
            overflow: hidden;

            &:hover {
              img {
                transform: scale(1.1);
                box-sizing: border-box;
                overflow: hidden;
              }
            }

            img {
              width: 100%;

            }

            .item-title {
              background: $primary-color;
              margin-top: -4px;
              padding: 12px 0 16px 12px;

              h4 {
                margin-top: 0;
                font-weight: 700;
                font-size: 20px;
                color: $white;
              }

              p {
                margin: 12px 0 0;
                font-size: 18px;
                color: $white;
              }
            }

          }
        }

        .slider-control {
          cursor: pointer;

          a:hover {
            background: $primary-color;
            opacity: 0.4;
          }
        }


        .slider-control {
          display: flex;
          justify-content: space-between;
          margin-top: 32px;

          .previous,
          .next {
            display: inline-block;
            text-align: center;
            width: 295px;
            padding: 22px 0;
            background: $border-color;
            color: $white;
            font-size: 18px;
          }

          .slide-dot {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .dot {
              height: 16px;
              width: 16px;
              border-radius: 50%;
              background: $secondary-color;
              display: inline-block;
              transition: 0.3s ease;
              cursor: pointer;
            }

            .dot.active,
            .dot:hover,
            .dot:focus {
              background: $primary-color;
            }
          }
        }
      }
    }
  }

}


/*#region__________________________________________Form*/
.main-wrapper {
  .form-container {
    background: $secondary-color;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .section-title {
        padding-top: 60px;
        margin: 0;
      }

      p {
        max-width: 540px;
        font-size: 20px;
        color: $title-color;
        text-align: center;
      }

      .appeal-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        .name-email {
          display: flex;
          gap: 30px;
          border: none;
          position: relative;
          padding: 0 0 20px;

          .input {
            box-sizing: border-box;
            min-width: 280px;
            height: 40px;
            border: 1px solid $border-color;
            border-radius: 4px;
            outline: none;
            padding-left: 14px;
          }

          input:focus + label {
            display: none;
          }

          .name {
            margin-right: 30px;
          }

          label {
            position: absolute;
            top: 10px;
            display: block;
            font-size: 18px;
            color: $input-color;
            user-select: none;
            cursor: text;

            &::after {
              position: relative;
              top: -3px;
              left: 2px;
              display: inline-block;
              content: "*";
              color: #ED6565;
            }
          }

          .label-name {
            left: 10px;
          }

          .label-email {
            left: 320px;
          }
        }

        .select-tel {
          display: flex;
          gap: 30px;
          border: none;
          position: relative;
          padding: 0 0 20px;

          img {
            position: absolute;
            top: 10px;
            left: 253px;
            pointer-events: none;
            background: $white;
          }

          .select {
            font-size: 18px;
            color: $input-color;

            option {
              font-size: 18px;
              color: $input-color;

            }
          }

          .label-select {
            position: absolute;
            top: 10px;
            left: 10px;
            display: block;
            font-size: 18px;
            color: $input-color;
            user-select: none;
            cursor: text;

            &::after {
              position: relative;
              top: -3px;
              left: 2px;
              display: inline-block;
              content: "*";
              color: #ED6565;
            }
          }

          select:focus + label {
            display: none;
          }

          .input, select {
            box-sizing: border-box;
            min-width: 280px;
            height: 40px;
            border: 1px solid $border-color;
            border-radius: 4px;
            outline: none;
            padding-left: 14px;
          }

          label {
            position: absolute;
            top: 10px;
            display: block;
            font-size: 18px;
            color: $input-color;
            user-select: none;
            cursor: text;
            left: 320px;
          }

          input:focus + label {
            display: none;
          }
        }

        textarea {
          width: 100%;
          resize: none;
          border: 1px solid $border-color;
          border-radius: 4px;
          padding: 10px 0 0 10px;
          outline: none;

          &::placeholder {
            font-size: 18px;
            color: $input-color;
            font-family: 'Work Sans', sans-serif;
          }
        }

        p {
          color: #667299;
          font-size: 16px;
          text-align: start;
          margin: 8px 0 28px;

          span {
            color: #C40303;
            margin-right: 5px;
          }
        }

        button {
          align-self: center;
          width: 270px;
          padding: 16px 0;
          background: var(--bg-color);
          font-weight: 600;
          font-size: 18px;
          color: $white;
          cursor: pointer;
          outline: none;
          border: none;
        }
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Contacts*/
.main-wrapper {
  .contacts {
    display: flex;
    justify-content: space-between;
    margin: 85px auto 80px;

    &-desc {
      display: flex;
      flex-direction: column;
      gap: 32px;

      &-item {
        display: flex;
        gap: 13px;

        p {
          font-size: 20px;
          color: $title-color;
          margin: 0;

          &:nth-child(1) {
            min-width: 90px;
            font-weight: 500;
            color: $primary-color;
          }
        }
      }

      img {
        width: 163px;
      }
    }

    .socials {
      p {
        font-size: 20px;
        font-weight: 500;
        color: $primary-color;
        margin: 0 0 20px;
      }

      input {
        box-sizing: border-box;
        min-width: 280px;
        height: 40px;
        border: 1px solid $border-color;
        border-radius: 4px;
        outline: none;
        padding-left: 14px;
        margin-bottom: 40px;

        &::placeholder {
          font-size: 18px;
          color: $input-color;
          user-select: none;
          cursor: text;
        }

        &:focus::placeholder {
          color: transparent;
        }
      }

      button {
        min-width: 136px;
        font-weight: 600;
        font-size: 18px;
        color: $white;
        background: $orange;
        padding: 10px 0;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
          transform: scale(1.1, 1);
        }
      }

      .socials-icons {
        display: flex;
        gap: 20px;

        svg:hover {
          path {
            fill: $primary-color;
          }
        }
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Contacts*/
.main-wrapper {
  .footer {
    max-width: none;
    background: $primary-color;

    p {
      max-width: 1200px;
      margin: 0 auto;
      font-size: 16px;
      color: $white;
      padding: 25px 0 25px;
    }

  }
}

/*#endregion*/


//1/ Отсутствующие инд. классы в мейн врапере
//   2. заменить переменные с цсс на переменные от сцсс
//    3. сделать более ассоциативные названия переменным
//     4. первый слайдер тайтл и карточку по центру со сдвигом
//      5. ховер на кнопки
//6. при ховере увеличиваьб картинку в слайде
// 7. настроить пагинацию
// 8. карточки и кнопки курсор аоинтер и ховер