/*#region --------------------------------------------Global*/
:root {
  --title-color: #292E3D;
  --bg-color: #2947A9;
  --card-subtitle: #fff;
  --orange-color: #F9995D;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.main-wrapper {
  min-height: 100vh;

  a {
    text-decoration: none;
  }

  p {
    color: #78847D;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #292E3D;
  }

  .button {
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background: var(--bg-color);
  }

  .cell-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/*#endregion*/

/*#region__________________________________________Hero*/
.main-wrapper {
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 16px auto;

    &-items {
      display: flex;
      list-style: none;
      gap: 50px;

      li {
        display: flex;
        justify-content: center;
        min-width: 75px;
        box-sizing: border-box;

        &:nth-child(1) {
          justify-content: flex-end;
        }

        a {
          max-width: 100px;
          color: #14171F;
          font-weight: 400;
          font-size: 18px;
        }
      }
    }

    li:hover {
      a {
        font-weight: 600;
        color: var(--orange-color);
      }
    }
  }

  .hero-container {
    margin-bottom: 18px;

    .cell-container {
      max-width: none;

      .slider {
        width: 100%;
        position: relative;
        margin: auto;
        height: 650px;

        h1 {
          position: absolute;
          top: 25%;
          left: 4%;
          z-index: 1;
          font-weight: 600;
          font-size: 72px;
          line-height: 84px;
          color: var(--title-color);
        }

        .item {

          img {
            object-fit: cover;
            width: 100%;
            height: 650px;
          }

          .item-title {
            position: absolute;
            width: 401px;
            height: 150px;
            bottom: 6%;
            right: 0;
            background: var(--bg-color);
            text-align: center;

            h4 {
              font-weight: 700;
              font-size: 20px;
              color: var(--card-subtitle);
              margin: 20px 0;
            }

            p {
              font-size: 24px;
              line-height: 28px;
              color: #fff;
              margin: 0 0 26px;
            }
          }
        }

        .previous, .next {
          position: absolute;
          display: block;
          width: 200px;
          background: #292E3D;
          cursor: pointer;
          bottom: 0;
          color: #fff;
          pointer-events: bounding-box;
          font-size: 18px;
          text-align: center;
          padding: 9px 0;

          span {
            box-sizing: border-box;
            margin-right: 10px;
          }

          &:hover,
          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
        }

        .previous {
          right: 201px;
        }

        .next {
          right: 0;
        }
      }

      .item {
        animation-name: fade;
        animation-duration: 1.5s;
      }
    }
  }
}

/*#endregion*/

/*#region --------------------------------------------Reputation*/
.main-wrapper {
  h2 {
    text-align: center;
    margin-top: 60px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-bottom: 66px;

    .card {
      width: 33%;
      border: 1.4px solid #E0E3EB;
      border-radius: 4px;
      padding: 20px 20px 40px;

      h4 {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #3D445C;
        margin: 18px 0;
      }

      p {
        color: #858EAD;
        margin: 0;
      }
    }
  }

  .about-us {
    position: relative;
    margin-bottom: 200px;

    img {
      width: 902px;
      height: 669px;
      box-shadow: 0 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
      border-radius: 2px;
    }

    .desc-card {
      position: absolute;
      right: 0;
      bottom: 11%;
      width: 385px;
      height: 420px;
      padding: 50px 60px 60px 40px;
      background: var(--bg-color);
      z-index: 1;

      h3 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        margin: 0 0 37px;
      }

      p {
        font-size: 20px;
        color: #FFFFFF;
        margin: 0 0 73px;
      }

      a {
        width: 220px;
        font-weight: 600;
        font-size: 18px;
        background: #fff;
        color: var(--bg-color);
        padding: 16px 20px;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Service*/
.main-wrapper {
  .services {
    background: #F6F8F7;
    max-width: none;
    padding-bottom: 76px;

    h2 {
      margin-bottom: 36px;
      padding-top: 44px;
      text-align: center;
    }

    .services-cards {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .services-card {
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 38px 0;
        margin-right: 100px;
        margin-bottom: 48px;
        box-shadow: 0 0 37px -2px rgba(17, 24, 39, 0.05);
        border-radius: 4px;

        &:nth-child(3),
        &:nth-child(6) {
          margin-right: 0;
        }

        .line {
          height: 2px;
          width: 60px;
          background: #E0E3EB;
          margin: 20px 0;
        }

        h4 {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
        }
      }

      .white-bg {
        background: #fff;
        color: var(--bg-color);
      }

      .blue-bg {
        background: var(--bg-color);
        color: #fff;
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Experience*/
.main-wrapper {
  .experience {
    display: flex;
    margin-top: 170px;
    margin-bottom: 177px;

    &-cards {
      display: flex;
      flex-wrap: wrap;

      .experience-card {
        position: relative;
        padding: 30px;
        box-shadow: 0 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
        border-radius: 4px;
        background: #fff;

        img {
          position: absolute;
        }

        span {
          font-weight: 600;
          font-size: 72px;
          line-height: 84px;
          color: #292E3D;
        }

        p {
          display: flex;
          font-size: 24px;
          color: #667299;
          margin: 0;
          width: 273px;

          &:before {
            content: "";
            width: 7px;
            height: 28px;
            background: var(--orange-color);
            margin-right: 12px;
            margin-left: 16px;
          }
        }
      }

      .card-1 {
        top: 10%;

        img {
          top: -15%;
          left: -10%;
        }
      }

      .card-2 {
        left: -5%;
        top: -14%;
        z-index: 1;
        padding-right: 0;

        img {
          top: 0;
          left: 76%;
        }
      }

      .card-3 {
        left: 6%;
        top: 25%;

        img {
          top: 74%;
          left: 85%;
        }
      }

      .card-4 {
        left: -11%;
        z-index: 1;
        padding-right: 0;

        img {
          top: 5%;
          left: 77%;
        }
      }
    }

    .experience-desc {
      margin-right: 70px;
      max-width: 330px;

      h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        text-align: start;
        color: var(--bg-color);
        margin: 0;
      }

      p {
        font-size: 20px;
        line-height: 23px;
        color: #525B7A;
        margin: 40px 0 67px;
      }

      a {
        background: var(--bg-color);
        padding: 16px 40px;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________Consultation*/
.main-wrapper {
  .consultation {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      margin: 0 0 30px;
    }

    p {
      font-size: 24px;
      color: #FFFFFF;
      margin: 0;
    }

    a {
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      padding: 16px 20px;
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      margin-right: 25px;
    }
  }
}

/*#endregion*/

/*#region__________________________________________Projects*/
.main-wrapper {

}
/*#endregion*/
